<IfModule mod_headers.c>
    Header set X-Frame-Options "DENY"
</IfModule>

RewriteEngine on
RewriteCond %{THE_REQUEST} /([^.]+)\.html [NC]
RewriteRule ^ /%1 [NC,L,R]
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^ %{REQUEST_URI}.html [NC,L]
# START - Disable server signature #
ServerSignature Off
# END - Disable server signature #